.tour-container {
    background-color: rgb(118, 118, 118);
    display: grid;
    gap: 1px;
    padding: 1px;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .tour-item {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

  .tour-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .myButton {
    border: none;
    background-color: rgb(255, 182, 182);
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }

  .myButton:hover {
    background-color: rgb(0, 0, 0);
    font-size: 10px;
  }

  a:hover {
    color: white;
  }
  
  a {
    font-size: 17px;
  }


  p {
    font-size: 20px;
  }

  p3 {
    font-size: 40px;
  }

  p2 {
    font-weight: 700;
  }


  .item2 {
    grid-column: 1 / span 3;
    grid-row: 1;
    height: 100px;
  }


  .item1 {
    grid-column: 1 / span 3;
    grid-row: 2;
    background-color: rgb(255, 182, 182);
    gap: 0px;
    text-align: left;
  }

  .item3 {
    grid-column: 2 / span 1;
    grid-row: 2;
    background-color: rgb(255, 182, 182);
    gap: 0px;
  }

  .item4 {
    grid-column: 3 / span 1;
    grid-row: 2;
    background-color: rgb(255, 182, 182);
    gap: 0px;
  }

  .item8 {
    grid-column: 1 / span 3;
    grid-row: 3;
    padding: 0px;
  }

  .item9 {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .item10 {
    grid-column: 3 / span 1;
    grid-row: 4;
  }

  .item11 {
    grid-column: 1 / span 2;
    grid-row: 5;
    text-align: left;
  }

  .item12 {
    grid-column: 3 / span 1;
    grid-row: 5;
    padding: 0px;
  }

  .item13 {
    grid-column: 1 / span 3;
    grid-row: 6;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item14 {
    grid-column: 1 / span 2;
    grid-row: 7;
  }

  .item15 {
    grid-column: 1 / span 2;
    grid-row: 8;
    text-align: left;
  }

  .item16 {
    grid-column: 3 / span 1;
    grid-row: 8;
    padding: 0px;
  }

  .item18 {
    grid-column: 1 / span 3;
    grid-row: 9;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item19 {
    grid-column: 1 / span 2;
    grid-row: 10;
  }

  .item20 {
    grid-column: 3 / span 1;
    grid-row: 10;
  }

  .item21 {
    grid-column: 1 / span 2;
    grid-row: 11;
    text-align: left;
  }

  .item22 {
    grid-column: 3 / span 1;
    grid-row: 11;
    padding: 0px;
  }

  .item23 {
    grid-column: 1 / span 3;
    grid-row: 12;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item24 {
    grid-column: 1 / span 2;
    grid-row: 13;
  }

  .item25 {
    grid-column: 3 / span 1;
    grid-row: 13;
  }

  .item26 {
    grid-column: 1 / span 2;
    grid-row: 14;
    text-align: left;
  }

  .item27 {
    grid-column: 3 / span 1;
    grid-row: 14;
    padding: 0px;
  }

  .item28 {
    grid-column: 1 / span 3;
    grid-row: 15;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item29 {
    grid-column: 1 / span 2;
    grid-row: 16;
  }

  .item30 {
    grid-column: 3 / span 1;
    grid-row: 16;
  }

  .item31 {
    grid-column: 1 / span 2;
    grid-row: 17;
    text-align: left;
  }

  .item32 {
    grid-column: 3 / span 1;
    grid-row: 17;
    padding: 0px;
  }

  .item33 {
    grid-column: 1 / span 3;
    grid-row: 15;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item34 {
    grid-column: 1 / span 2;
    grid-row: 16;
  }

  .item35 {
    grid-column: 3 / span 1;
    grid-row: 16;
  }

  .item36 {
    grid-column: 1 / span 2;
    grid-row: 17;
    text-align: left;
  }

  .item37 {
    grid-column: 3 / span 1;
    grid-row: 17;
    padding: 0px;
  }
  .item38 {
    grid-column: 1 / span 3;
    grid-row: 18;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item39 {
    grid-column: 1 / span 2;
    grid-row: 19;
  }

  .item40 {
    grid-column: 3 / span 1;
    grid-row: 19;
  }

  .item41 {
    grid-column: 1 / span 2;
    grid-row: 20;
    text-align: left;
  }

  .item42 {
    grid-column: 3 / span 1;
    grid-row: 20;
    padding: 0px;
  }
  .item43 {
    grid-column: 1 / span 3;
    grid-row: 21;
    height: 150px;
    background-color: rgb(255, 89, 89);
  }

  .item44 {
    grid-column: 1 / span 2;
    grid-row: 22;
  }

  .item45 {
    grid-column: 3 / span 1;
    grid-row: 22;
  }

  .item46 {
    grid-column: 1 / span 2;
    grid-row: 23;
    text-align: left;
  }

  .item47 {
    grid-column: 3 / span 1;
    grid-row: 23;
    padding: 0px;
  }